<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://kit.fontawesome.com/d4202ddb56.js" crossorigin="anonymous"></script> -->
 
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="" class="home">home</a> </li>
        <li><a href="" class="profile">profile</a> </li>
      </ul>
      <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </nav>

    <div class="person">
      <div class="photo">
        <img src="" class="profile-pic">
      </div>
      <div class="person-info">
        <p class="name">NAME</p>
        <p class="desc">BIO</p>
      </div>
     </div>

     <div class="groups">
      <h3 class="section-header">Groups</h3>
      <div class="all-groups">
        {% for group in groups %}
        <div class="group"> 
          <img class="group-profilepic" src="{{ url_for('static', filename='images/' + group['profile_pic']) }}" alt="{{ group['name'] }} Profile Pic">
          <p class="group-name">{{ group['name'] }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="friends">
      <h3 class="section-header">Friends</h3>
      <div class="all-friends">
        {% for friend in friends %}
        <div class="friend"> 
          <img class="friend-profilepic" src="{{ url_for('static', filename='images/' + friend['profile_pic']) }}" alt="{{ friend['name'] }} Profile Pic">
          <p class="friend-name">{{ friend['name'] }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    
     <!-- <div class="groups">
      <h3 class="section-header">Groups</h3>
      <div class="all-groups">
        <div class="group"> 
          <img class="group-profilepic">
          <p class="group-name">name</p>
        </div>
        <div class="group"> 
          <img class="group-profilepic">
          <p class="group-name">name</p>
        </div>
        <div class="group"> 
          <img class="group-profilepic">
          <p class="group-name">name</p>
        </div>
        <div class="group"> 
          <img class="group-profilepic">
          <p class="group-name">name</p>
        </div>
        <div class="group"> 
          <img class="group-profilepic">
          <p class="group-name">name</p>
        </div>
      </div>
     </div>

     <div class="friends">
      <h3 class="section-header">Friends</h3>
      <div class="all-friends">
        <div class="friend"> 
          <img class="friend-profilepic">
          <p class="friend-name">name</p>
        </div>
        <div class="friend"> 
          <img class="friend-profilepic">
          <p class="friend-name">name</p>
        </div>
        <div class="friend"> 
          <img class="friend-profilepic">
          <p class="friend-name">name</p>
        </div>
        <div class="friend"> 
          <img class="friend-profilepic">
          <p class="friend-name">name</p>
        </div>
        <div class="friend"> 
          <img class="friend-profilepic">
          <p class="friend-name">name</p>
        </div>
        <div class="friend"> 
          <img class="friend-profilepic">
          <p class="friend-name">name</p>
        </div>
      </div>
     </div> -->

     <footer>
      <nav class="footer-nav">
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>