* {
  margin: 0;
  padding: 0;
}

footer{
  margin-top: auto;
}

body {
  background-color: #b8c2e9;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.go-home, .go-profile {
  background-color: #dce3f7;
  display: inline-block;
}

.go-home, .go-profile {
  border: none;
  margin: 10px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 15px;
}


.nav {
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-right: 0;
  border-left: 0;
  align-items: center;
  padding: 6px;
}

.nav img {
  border-radius: 50%;
  margin: 0px 10px;
}

/* ---------------------------------------- PERSONAL PROFILE PAGE ------------------------------------------ */

.edit{
  margin: 0;
  padding: 5;
  height: 30px;
  margin-left: 80%;
  margin-top: 15px;
}
.edit-button{
  background-color: blue;
  padding: 10px;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  display: block;
  margin-bottom: 50px;
}
.profile-pic{
  border: solid;
  height: 250px;
  width: 220px;
  display: inline-block;
}

.person {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-left: 1%;
}

.photo {
  padding: 5px;
  margin-right: 3%;
}


.person-info {
  flex-grow: 1;
  display: block;
}

.name {
  font-weight: bold;
  margin: 0;
}

.personal-info{
  margin-left: 10%;
  margin-top: 10%;
}
.personal-info ul li {
  margin-bottom: 2%;
  padding: 1px;
  font-weight: 800;
}
#person-personal-info{
  font-weight: 400;
}
ul {
  list-style-type: none;
}

/* ---------------------------------------- edit page------------------------------------------ */
.edit-header{
  margin-top: 40%;
  text-align: center;
}
#update-box{
  display: block;
  margin-top: 5px;
}

.centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-button{
  background-color: blue;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  display: block;
}


/* ---------------------------------------- footer ------------------------------------------ */
.footer-nav ul li{
  display: inline-block;
  justify-content: space-around;
}

footer{
  padding: 20px 20px 20px 10px;
  background-color: rgb(0, 0, 117);
  color: white;
}

.footer-nav ul{
  text-align: center;
}