<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="edit-header">
        <h2>Update Profile</h2>
        <p>Type in your new email and/or password</p>
        {% if message %}
        <p style="color: red; font-weight: 600; margin-bottom: 20%;"> {{ message }} </p>
        {% endif %}
    </div>
    <div class="centered-form">
      <form action="{{ url_for('change_info') }}" method="POST" enctype="multipart/form-data">
        <label for="profile_pic">Choose a profile picture:</label>
        <input type="file" id="profile_pic" name="profile_pic" accept="image/*">
        <input type="submit" value="Upload" class="profilepic-upload-btn">
    </form>
     <form method="POST" action="{{ url_for('change_info') }}">       <!--GO OVER THIS -->
          <input type="text" id="name" name="name"  placeholder="Your name"/>
          <br />
          <textarea id="update-box" name="username" placeholder="Update Username (email)"></textarea>
          <textarea id="update-box" name="password" placeholder="Update Password"></textarea>
          <br />
          <input class="submit-button" type="submit" value="Save" />
      </form>
    </div>  
    <footer class="footer-nav">
      <ul>
        <li><a href="{{ url_for('home') }}">feed</a></li>
        <li><a href="{{ url_for('show_post_form') }}">post</a></li>
        <li><a href="{{ url_for('profile') }}">profile</a></li>
      </ul>
  </footer>
  </body>
</html>