<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="../style.css"> 
  </head>

  <body>
    <div class="edit">
      <a href="edit-profile.html"><button class="edit-button"> EDIT </button> </a> 
    </div>
    <div class="person">
      <div class="photo">
        <img src="images/damla/profilepic.png" class="profile-pic">
      </div>
      <div class="person-info">
        <p class="name">{{ user['name'] }}</p>
      </div>
     </div>

     <div class="personal-info">
      <ul>
        <li>email </li>
        <li id="person-personal-info">{{ user['username'] }}</li>
      </ul>
     </div>

  
     <footer class="footer-nav">
      <ul>
        <li><a href="home_page.html">feed</a></li>
        <li><a href="upload_post.html">post</a></li>
        <li><a href="individual-profile.html">profile</a></li>
      </ul>
  </footer>
  </body>
</html>