<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="edit">
      <a href="{{ url_for('show_edit_prof_form') }}"><button class="edit-button"> EDIT </button> </a> 
    </div>
    <div class="person">
      <div class="photo">
        <img src="{{ user['pfp_file_path']}}" class="profile-pic">
      </div>
      <div class="person-info">
        <p class="name">{{ user['name'] }}</p>
      </div>
     </div>

     <div class="personal-info">
      <ul>
        <li>email </li>
        <li id="person-personal-info">{{ user['username'] }}</li>
      </ul>
     </div>

     <footer class="footer-nav">
      <ul>
        <li><a href="{{ url_for('home') }}">feed</a></li>
        <li><a href="{{ url_for('show_post_form') }}">post</a></li>
        <li><a href="{{ url_for('profile') }}">profile</a></li>
      </ul>
  </footer>
  </body>
</html>
