<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device.width, initial-scale=1.0">
  <title>post</title>
  <link rel="stylesheet" href="../style.css"> 
</head>
<body>
  <div class="single-post">
    <a href="edit-post.html"><button class="post-button"> edit </button></a>
    <button class="post-button"> delete </button>
    <p>Date: {{ post['date'].strftime('%Y-%m-%d') }}</p>
    <!-- Display the image if it exists -->
    {% if post['image'] %}
        <img src="{{ post['image'] }}" alt="Post Image" style="max-width:300px;">
        <p> {{ post['text'] }} </p>
    {% endif %}

    </div>
    <footer class="footer-nav">
      <ul>
        <li><a href="home_page.html">feed</a></li>
        <li><a href="upload_post.html">post</a></li>
        <li><a href="individual-profile.html">profile</a></li>
      </ul>
  </footer>
</body>
</html>
